table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.btn-level {
  cursor: default; /* Change cursor to default */
}

.btn-level:hover {
  background-color: transparent; /* Remove hover background effect */
  box-shadow: none; /* Remove any hover shadow effect */
}

.btn-level {
  &.low {
    background-color: #b5ffc9;
    color: #065b00;
  }

  &.medium {
    background-color: #ffe4b5;
    color: #5b2300;
  }

  &.high {
    background-color: #ffb5b5;
    color: #ff0707;
  }
}
