<form [formGroup]="form" (ngSubmit)="create()">
  <div class="p-6">
    <h6>Create a ticket</h6>
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      class="w-full mt-5"
    >
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Ex. Network error" />
    </mat-form-field>
    <div class="flex justify-between">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="0">Low</mat-option>
          <mat-option value="1">Medium</mat-option>
          <mat-option value="2">High</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Assigned to</mat-label>
        <input
          type="text"
          matInput
          formControlName="assigned"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (user of users$ | async; track user) {
          <mat-option [value]="user">{{ user.fullname }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" floatLabel="always" class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput rows="5" formControlName="desc"></textarea>
    </mat-form-field>
    <div>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="PENDING">Pending</mat-option>
          <mat-option value="INPROGRESS">In progress</mat-option>
          <mat-option value="FINISHED">Finished</mat-option>
          <mat-option value="CLOSED">Closed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-end items-center mt-8">
      <button mat-button type="button" mat-dialog-close>Cancel</button>
      <button mat-button [disabled]="!form.valid" type="submit">
        @if (data) { Edit } @else { Create }
      </button>
    </div>
  </div>
</form>
